@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Young+Serif&display=swap');

body{
  background-image: url('https://d31atr86jnqrq2.cloudfront.net/images/_1200x630_crop_center-center_82_none/federal-box-factory-community-centre-landscape.jpg?mtime=1607324511');
  background-size: cover;
}

.header{
  background: rgba(0,0,0,0.85);
  text-align: center;
  border-radius: 50px;
  border-color: black;
  color: yellow;
  font-size: 40px;
  font-family: "Concert One";
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 80%;

}

ion-button{
  font-family: "Concert One";
  display: flex;
  margin-top: 100px;
  height: 100px;
  align-items: center;
}
