ion-title{
  color: yellow;
}

ion-item{
  margin-bottom: 15px;
}


ion-header{
  background: #121212;
}

#headerMargins{
  margin-left: 15.4%;
  margin-right: 16.3%;
}

.page-container {
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container height */
}



